<form action="/signup" method="POST" id="form">
 <label for="username">Username:</label><br>
 <input type="text" name="username" placeholder="Username">
 <label for="password">Password:</label><br>
 <input type="text" name="password" placeholder="password">
 <button type="submit">Create account</button>
</form>

