body {
  background-color: azure;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0099E6;
  color: white;
  text-align: center;
  }

  .form-control {
    width: 20%;
  }

  .container {
    position: relative;
    top: 150px;
    height: 100%;
    padding-bottom: 150px;
  }


  #form {
    position: relative;
    top: 200px;
    margin: 30px auto;
    width: 380px;
  }
  
  #form label {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  
  #form input,
  #form button {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  #form button {
    background: #43a3e6;
    border: 1px solid #43a3e6;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease background;
    width: 100%;
  }
  
  #form button:hover {
    background: #fff;
    color: #43a3e6;
    transition: .3s ease background;
  }

  .navbar-expand-md {
    margin-bottom: 100px;
  }